{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'amazon_instance_list' %}">INSTANCE Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>AWS_REGION</td>
    <td>AMI_ID</td>
    <td>SIZE_ID</td>
    <td>NAME</td>
    <td>NODE_STATE_MAP</td>
    <td>IP</td>
    <td>OWNER</td>
    <td>LAUCH_TIME</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.AWS_REGION }}</td>
    <td>{{ object.AMI_ID }}</td>
    <td>{{ object.SIZE_ID }}</td>
    <td>{{ object.NAME }}</td>
    <td>{{ object.NODE_STATE_MAP }}</td>
    <td>{{ object.IP }}</td>
    <td>{{ object.OWNER }}</td>
    <td>{{ object.LAUCH_TIME }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'amazon_instance_create' %}">Create new INSTANCE</a>
{% endblock %}

