{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'amazon_instance_list' %}">INSTANCE Listing</a></p>
<table class="table">
<tr><td>AWS_REGION</td><td>{{ object.AWS_REGION }}</td></tr>
<tr><td>AMI_ID</td><td>{{ object.AMI_ID }}</td></tr>
<tr><td>SIZE_ID</td><td>{{ object.SIZE_ID }}</td></tr>
<tr><td>NAME</td><td>{{ object.NAME }}</td></tr>
<tr><td>NODE_STATE_MAP</td><td>{{ object.NODE_STATE_MAP }}</td></tr>
<tr><td>IP</td><td>{{ object.IP }}</td></tr>
<tr><td>OWNER</td><td>{{ object.OWNER }}</td></tr>
<tr><td>LAUCH_TIME : {{ object.LAUCH_TIME }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit INSTANCE</a>

{% endblock %}
